@model Cozumpark.BrowserCapabilities.BrowserCapabilities

@{
    ViewBag.Title = "Index";
}

<h2>eravse</h2>

<div>
    <h4>ÇözümPark BrowserCapabilities TEST Class </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrowserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Browser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Browser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MajorVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinorVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinorVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Platform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrawlerInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrawlerInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Win16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Win16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Win32)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Win32)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tables)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cookie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cookie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VbScript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VbScript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EcmaScriptVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcmaScriptVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JavaApplets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JavaApplets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveXControls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveXControls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JavaScriptVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JavaScriptVersion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
